@inherits LayoutComponentBase

<Header />

<div class="page">
    <main>
        <nav class="content px-4">
            <h1 class="logo">КОНТОРА</h1>
            <div class="nav-links">
                <a href="/" class="nav-item">Главная</a>
                <a href="/projects" class="nav-item">Проекты</a>
                <a href="/tasks" class="nav-item">Задачи</a>
                <a href="/profile" class="nav-item">Пользователь</a>
            </div>
        </nav>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
